@font-face {
    font-family: 'open-sans';
    src: url('../font/OpenSans-VariableFont_wdth\,wght.ttf');
}
body{
    background-color: #A9B3C9;
    font-family: open-sans;
}
header{
    font-family: open-sans;
    min-height: 150px;
    text-align: center;
    padding-top: 20px;
    background-image: linear-gradient(to bottom, #5F7198, #2E4372);
}
header>h1{
    color: #5F7198;
    margin-bottom: 20px;
    font-family: open-sans;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.250);
}
header>p{
    color: #A9B3C9;
    font-family: open-sans;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.350);
}
main p{
    text-align: justify;
    margin: 15px 0px 15px 0px;
    text-indent: 40px;
    font-size: 1em;
}
main strong{
    color: #0e214b;
    font-weight: bold;
    background-color: #A9B3C9;
}
nav{
    background-color: #2e4372;
    padding: 10px;
    box-shadow: 0px 8px 5px rgba(0,0,0,0.350);
}
nav>a{
    color: #A9B3C9;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav>a:houver{
    background-color: #0e214b;
    color: white;
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.420);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h2{
    color: #020d24;
    font-family: open-sans;
}
main h3{
    color: #020d24;
    font-family: open-sans;
    font-size: 3em;
    background-image: linear-gradient(to right, #5f7198, transparent);
}
main img{
    margin: auto;
    display: block;
}
div.video{
    background-color: #A9B3C9;
    padding: 10px;
    padding-bottom: 5%;
    margin-bottom: 5px;
    position: relative;
    border-radius: 5px;
}
div.video.iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: #A9B3C9;
    padding: 5px;
    border-radius: 5px;
}
aside>ul{
    padding-left: 20px;
    list-style-position: inside;
    columns: 2;
    list-style-type: '\1F680';
}
footer{
    background-color: #5F7198;
    color: #020d24;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}